#input-dl-profile,
#input-dl-appointment {
    position: fixed;
    z-index: -1;
    opacity: 0;
}

#input-normal-url {
    width: 100%;
}

#p-dl-profile:hover,
#p-dl-appointment:hover {
    cursor: pointer;
    background-color: #777777;
    color: #ffffff;
}

div {
    max-width: 800px;
    width: 100%;
}

input, p {
    font-family: "Lucida Console", monospace;
    padding: 10px 5px;
    overflow-wrap: break-word;
}

h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}